@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

swiper-container {
  width: 80%;
  height: 80%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-title {
  font-size: 24px;
  color: red;
}

.italic-title {
  font-family: 'Great Vibes', cursive;
  font-style: italic;
}

.custom-bg-color {
  --background: lightgray;
}

.sp-bg-color {
  background-color: blue;
}

.style-avatar {
  --border-radius: 5px;
}

.slide-image {
  width: 100%;
  max-width: 400px;
  border-radius: 0px;
  margin: 10px 0;
}

ion-icon {
  font-size: 40px;
  color: black;
  margin: 10px 0;
}

.slide-description {
  font-size: 16px;
  color: #ff00aa;
}
